$gradient: linear-gradient(#9dc7e7, #74afdd 50%, #378bce);
$fz: 1.5rem;

* {
  box-sizing: border-box;
}


html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  color: #666;
  background: #F6F6F6;
}


input[type="checkbox"] {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
}


.btn {
  display: inline-block;
  width: 15em;
  font-size: 80%;
  color: rgba(255, 255, 255, .9);
  text-shadow: #2e7ebd 0 1px 2px;
  text-decoration: none;
  text-align: center;
  line-height: 1.1;
  white-space: pre-line;
  padding: .7em 0;
  border: 1px solid;
  border-color: #60a3d8 #2970a9 #2970a9 #60a3d8;
  border-radius: 6px;
  outline: none;
  background: #60a3d8 linear-gradient(#89bbe2, #60a3d8 50%, #378bce);
  box-shadow: inset rgba(255, 255, 255, .5) 1px 1px;
  position: absolute;
  top: 310px;
}

.btn:first-line {
  font-size: 170%;
  font-weight: 700;
}


.btn:hover {
  color: rgb(255, 255, 255);
  background-image: $gradient;
}


.btn:active {
  color: rgb(255, 255, 255);
  border-color: #2970a9;
  background-image: linear-gradient(#5796c8, #6aa2ce);
  box-shadow: none;
}

#copyRight {
  position: fixed;
  bottom: 1px;
  left: 1px;
}


.container {
  display: flex;
  flex-wrap: wrap;
  color: #2970a9;
}


.card {
  margin: 1rem;
  background: white;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  border-radius: 12px;
  overflow: hidden;
  transition: all .2s linear;
}


.card:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
  transform: translate3D(0, -5px, 0);
}


@media screen and (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}



@media screen and (min-width: 900px) {
  .card {
    flex: 1 1 calc(33% - 2rem);
  }
}

.img {
  width: 100%;
}

h5 {
  text-align: center;
  padding: 1.5rem 2.5rem;
  background-image: $gradient;
  margin: 0 0 2rem 0;
  font-size: $fz;
  color: white;
  height: 100%;
}
.card-body {
  padding: 0;
}

p,
h6,
.article-link {
  padding: 0 2.5rem 2.5rem;
  margin: 0;
}

#errorBlock {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  font-size: $fz;
}

#errorMedia {
  width: 100%;
  padding-top: 10px;
  margin: 0 auto;
}

#inputFilter {
  position: absolute;
  top: 285px;
}